body 
{
    background-color: #dde3ee;
}
* 
{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: 'Poppins';
}
#results 
{
    visibility: hidden;
    position: absolute;
}
.top-container 
{
    height: 65px;
    width: 100%;
    background-color: white;
    position: fixed;
    padding-left: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 60px;
}
.top-container-search 
{
    border:1px solid gray;
    position: relative;
    margin-left: 20px;
    padding:5px;
    border-radius: 5px;
}
.top-container-search input 
{
    height: 30px;
    border: none;
    outline: none;
    padding-left: 10px;
    font-family: 'Poppins';
}
.top-container-search i 
{
    cursor: pointer;
    color: gray;
}
.top-container h1 
{
    color: #4A5BE6;
}
.top-container .profile-container 
{
    display: flex;
    align-items: center;
    gap: 25px;
}
.profile-container i 
{
    font-size:25px;
    color: gray;
    cursor: pointer;
}
.profile-container i:hover 
{
    color: black;
}
.profile-container #admin-profile-pic 
{
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
}
.left-container img 
{
    height: 45px;
    margin:10px;
}
.left-container 
{
    height: 100vh;
    width: 65px;
    background-color: white;
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.icon-container a 
{
    text-decoration: none;
    color:gray;
    font-size: 25px;
    transition: all 100ms ease-in-out;
}
.icon-container a:hover 
{
    color:black;
}
.left-container .icon-container 
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px;
}
.container 
{
    padding:100px 200px;
}
video 
{
    width: 550px;
    margin-top: 100px;
    border: 10px solid #4A5BE6;
    border-radius: 50px;
}
#captureBtn 
{
    background-color: #4A5BE6;
    padding:10px 50px;
    margin-top: 30px;
    border:none;
    color:white;
    border-radius: 15px;
    cursor: pointer;
}
#captureBtn:hover
{
    background-color:#4A5BE6;
    box-shadow: 0px 0px 2px 2px gray;
}
.video-container 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#imageNameInput
{
    border:none;
    background-color: #4A5BE6;
    outline: none;
    color:white;
    padding:10px;
}